@import url("https://fonts.googleapis.com/css?family=Adamina|Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*NAV*/
li,
a {
  font-family: "Adamina", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: blue;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 10vh;
  background-color: white;
}

.logo {
  cursor: pointer;
  letter-spacing: 0.3em;
  font-size: 2.5em;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
  text-align: center;
}

.navlinks li a i {
  transition: all 0.3s ease 0s;
  text-transform: lowercase;
}

.navlinks li a i:hover {
  color: aquamarine;
  border-bottom: solid aquamarine;
}

.logo {
  font-family: "Bebas Neue";
}

/*STICKYNAVBARW3*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
/*STICKYNAVBARW3*/

@media screen and (max-width: 430px) {
  .navlinks li {
    padding: 0px 5px;
  }
}
@media screen and (max-width: 335px) {
  .navlinks li a {
    font-size: 1em;
  }
  .logo {
    font-size: 2em;
  }
}

/*HOMEPAGE*/

.home {
  padding: 1em;
  padding-top: 10vh;
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
}

.sign {
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 100%;
  overflow: hidden;
}

.about {
  display: grid;
  font-family: "Bebas Neue";
  font-size: 5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 1120px) {
  .sign {
    background-repeat: no-repeat;
    max-height: 100%;
    border-bottom-left-radius: 1em;
  }

  .about {
    transition: ease-in-out;
    background: aquamarine;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: 600;
    font-size: 4em;
    border-bottom-left-radius: 1em;
  }
}
@media screen and (max-width: 480px) {
  .home {
    padding: 1em;
    padding-top: 10vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 90%;
  }
  .sign {
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 100%;
    overflow: hidden;
  }

  .about {
    transition: ease-in-out;
    background-image: url(./images/burgerfalling.gif);
  }
}

/*HOMEPAGE*/

/*MENU*/
.fullmenu {
  padding: 1em;
  padding-top: 10vh;
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
}

.menu-display {
  font-family: "Adamina", sans-serif;

  align-items: center;
  text-align: center;
  display: grid;
  font-size: 5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15em;
  width: 15em;
}

.menu {
  display: grid;
  grid-template-columns: 50% 50%;
}

.maindish {
  grid-template-rows: 25% 25% 50%;
}

.maindish1:hover,
.maindish2:hover,
.maindish3:hover {
  cursor: pointer;
}

.maindish1,
.maindish2,
.maindish3 {
  background-repeat: no-repeat;
  height: 18em;
  width: 20em;
  opacity: 0.7;

  transition: opacity 0.3s ease ease-in-out;
}

.sidedish1:hover,
.sidedish2:hover,
.sidedish3:hover {
  cursor: pointer;
}
.sidedish1,
.sidedish2,
.sidedish3 {
  background-repeat: no-repeat;
  height: 18em;
  width: 20em;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.itemtitle,
.itemtitle2 {
  font-family: "Bebas Neue";
  text-align: left;
  font-size: 3em;
}

/*GALLERY FUNCTIONALITY*/
img.maindish1 {
  opacity: 1;
}
/*GALLERY FUNCTIONALITY*/

@media screen and (max-width: 860px) {
  .fullmenu {
    padding: 1em;
    padding-top: 10vh;
    height: 100vh;
  }

  .menu-display {
    height: 10em;
    width: 10em;
  }
  .maindish1,
  .maindish2,
  .maindish3 {
    height: 13em;
    width: 13em;
    background: none;
  }

  .sidedish1,
  .sidedish2,
  .sidedish3 {
    height: 13em;
    width: 13em;
  }

  .itemtitle,
  .itemtitle2 {
    font-family: "Bebas Neue";
    text-align: left;
    font-size: 2em;
  }
}
@media screen and (max-width: 720px) {
  .fullmenu {
    padding: 1em;
    padding-top: 10vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
  }

  .menu-display {
    height: 7em;
    width: 7em;
    display: grid;
  }

  .maindish1,
  .maindish2,
  .maindish3 {
    height: 13em;
    width: 13em;
    background: none;
    display: grid;
  }

  .sidedish1,
  .sidedish2,
  .sidedish3 {
    height: 13em;
    width: 13em;
  }

  .itemtitle,
  .itemtitle2 {
    font-family: "Bebas Neue";
    text-align: left;
    font-size: 2em;
  }
}

@media screen and (max-width: 430px) {
  .fullmenu {
    padding: 1em;
    padding-top: 10vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
  }

  .menu-display {
    height: 5em;
    width: 5em;
    display: grid;
  }

  .maindish1,
  .maindish2,
  .maindish3 {
    height: 10em;
    width: 10em;
    background: none;
    display: grid;
  }

  .sidedish1,
  .sidedish2,
  .sidedish3 {
    height: 10em;
    width: 10em;
  }

  .itemtitle,
  .itemtitle2 {
    font-family: "Bebas Neue";
    text-align: left;
    font-size: 1.7em;
  }
}

/*MENU*/

/*LOCATION*/

.location {
  padding: 1em;
  padding-top: 10vh;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60% 40%;
  justify-items: center;
  font-family: "Adamina", sans-serif;
}

.map {
  height: 40em;
  width: 50em;
  border-radius: 1em;
  cursor: pointer;
}

.location_title1 {
  text-align: center;
  font-size: 3em;
}
.location_title2 {
  font-family: "Bebas Neue";

  text-align: center;
  font-size: 3em;
}

@media screen and (max-width: 1000px) {
  .location {
    padding: 1em;
    padding-top: 10vh;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    justify-items: center;
    font-family: "Adamina", sans-serif;
  }
  .map {
    height: 30em;
    width: 40em;
    border-radius: 1em;
    cursor: pointer;
    overflow: hidden;
  }

  .location_title1 {
    text-align: center;
    font-size: 2.5em;
  }
  .location_title2 {
    font-family: "Bebas Neue";

    text-align: center;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 500px) {
  .location {
    padding: 1em;
    padding-top: 10vh;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    justify-items: center;
    font-family: "Adamina", sans-serif;
  }
  .map {
    height: 30em;
    width: 40em;
    border-radius: 1em;
    cursor: pointer;
  }

  .location_title1 {
    padding-top: 1em;
    text-align: center;
    font-size: 2em;
  }
  .location_title2 {
    font-family: "Bebas Neue";

    text-align: center;
    font-size: 2em;
  }
}
/*LOCATION*/

/*FOOTER*/
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: red;
  color: white;
  text-align: center;
  font-family: "Adamina", sans-serif;
  font-size: 1.5em;
}
/*FOOTER*/
